<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">-->
    <title>Echon系统登录</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">

</head>

<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1>Echon</h1>
                </div>
                <div class="m-b"></div>
                <h3>
                    欢迎使用 <strong>Echon管理系统</strong>
                </h3>
            </div>
        </div>
        <div class="col-sm-5">
            <form id="signupForm" th:action="@{/login}" method="post">
                <h3 class="text-center">用户登录</h3>
                <p class="m-t-md text-center">欢迎登录Echon后台管理系统</p>
                <input type="text" name="username" class="form-control uname"/>
                <input type="password" name="password"
                       class="form-control pword m-b"/>
                <!--<a id="login" class="btn btn-login btn-block">登录</a>-->
                <button type="submit" class="btn btn-primary btn-block">登录</button>
                <div>
                    <!--<p style="text-align: center" class="text-danger" th:if="${param.error}"
                       th:text="${sessionScope.SPRING_SECURITY_LAST_EXCEPTION.message }">登录失败，账号或密码错误!</p>-->
                    <span class="text-danger" style="text-align:center" th:if="${param.error}"
                          th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">登录失败，账号或密码错误!</span>
                </div>

                <!--按钮模块-->
                <div class="outside-login">
                    <div class="outside-login-tit">
                        <span>登录链接</span>
                    </div>
                    <div class="outside-login-cot">
                        <a class="outside-login-btn wxoa actived my J-btnSwitchLoginType" target="_Blank"
                           href="https://wx.qq.com/">
                            <em><i class="fa fa-git-square"></i></em>
                            <span>微信</span>
                        </a>
                        <a class="outside-login-btn wxoa actived git J-btnSwitchLoginType" target="_Blank"
                           href="https://web2.qq.com/">
                            <em><i class="fa fa-github"></i></em>
                            <span>QQ</span>
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">&copy; 2018 All Rights Reserved. Echon
        </div>
    </div>
</div>
<script src="/js/jquery.min.js?v=2.1.4" th:src="@{/js/jquery.min.js}"></script>
<script src="/js/bootstrap.min.js?v=3.3.6" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
